<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Pandas (Need)</span></div>

## 1 What is a dataframe

### 1.1 Reading data from csv or excel files.

In [2]:
import pandas as pd

data = pd.read_excel("dummy-class-1-of-2.xlsx", skiprows = 1)
data

,Unnamed: 0,Name,Student No,Major,Gender,Test 2 (20%),Test 1 (30%)
0,0,Braiden Henson,A3028967J,PHY,M,'18.96',20.205
1,1,Gustavo Vang,A1282849W,CHM,F,'17.44',13.470
2,2,Ronin Christian,A5408925A,PHY,M,'15.56',18.366
3,3,Owen Anderson,A6973859L,LS,F,'16.36',18.366
4,4,Kyla Young,A5410124H,PHY,M,NaN,15.306
5,5,Wyatt Oliver,A9568373Q,PHY,M,'14.088',12.246
6,6,Essence Bauer,A6824244G,LS,M,'16.72',16.530
7,7,Maryjane Sandoval,A9194090U,LS,F,'16.4',18.981
8,8,Carl Trujillo,A4828364M,LS,NB,'13.68',15.306
9,9,Halle Fritz,A4607700C,LS,F,'9.04',17.754
10,10,Marie Hoffman,A7067766E,LS,F,'16.88',19.593
11,11,Lilianna Kaufman,A5569996J,LS,M,'17.0',26.328
12,12,Jaxon Chung,A3202548I,PHY,M,'16.68',14.082
13,13,Zoey Oconnell,A6131593U,LS,F,'14.128',22.041
14,14,Quentin Kemp,A7653832E,CHM,F,'15.72',NaN
15,15,Leo Mayo,A9462811I,PHY,F,'14.68',20.817
16,16,Camden Williams,A1218599T,CHM,F,'17.648',22.653
17,17,Sidney Wiggins,A7210476B,PHY,NB,'14.68',19.593
18,18,Solomon Fletcher,A1512479K,CHM,F,'15.0',18.981
19,19,Riley Christensen,A7986368Y,CHM,F,'16.016',15.306
20,20,Malik Becker,A2727061A,PHY,M,NaN,12.858
21,21,Skylar Hensley,A2999472W,CHM,M,'17.648',23.877
22,22,Braydon Duran,A7116486E,LS,F,'14.36',15.918
23,23,Jalen Harmon,A6931452S,LS,F,'16.88',22.041
24,24,Ean Haas,A9649096H,LS,F,'14.36',19.593
25,25,Carolina Mcmahon,A1643380L,PHY,M,'18.08',12.858
26,26,Elian Potter,A6787293E,PHY,M,'14.36',23.265
27,27,Litzy White,A5975988J,PHY,NB,'15.92',20.817
28,28,Norah Miles,A3699958T,CHM,M,NaN,NaN
29,29,Mariela Sheppard,A1956366U,LS,NB,'11.0',18.366
30,30,Isabela Stokes,A1468689D,CHM,M,'16.8',18.366
31,31,Kathleen Rodriguez,A3217320C,PHY,M,'17.76',22.653
32,32,Katie Ayers,A6867791C,CBIO,F,'10.28',16.530
33,33,Tucker Sloan,A4080490P,LS,M,'15.04',17.754
34,34,Carter Crane,A7667457P,LS,M,'13.816',20.817

### 1.2 Characteristics to notice

In [ ]:

# Your code here

## 2 Quick Peeks

### 2.1 Head and Tail

In [6]:
import pandas as pd

data = pd.read_excel("dummy-class-1-of-2.xlsx", skiprows = 1)
print(data.head(1))
print(data.tail(1))

   Unnamed: 0            Name Student No Major Gender Test 2 (20%)  \
0           0  Braiden Henson  A3028967J   PHY      M      '18.96'

   Test 1 (30%)
0        20.205
    Unnamed: 0          Name Student No Major Gender Test 2 (20%)  \
34          34  Carter Crane  A7667457P    LS      M     '13.816'

    Test 1 (30%)
34        20.817

### 2.2 Size and Shape

In [10]:
import pandas as pd

data = pd.read_excel("dummy-class-1-of-2.xlsx", skiprows = 1)
print(data.index.stop)

35

### 2.3 Summaries (I)

In [13]:
import pandas as pd

data = pd.read_excel("dummy-class-1-of-2.xlsx", skiprows = 1)
print(data.info())

print(data.describe(include="all"))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    35 non-null     int64
 1   Name          35 non-null     object
 2   Student No    35 non-null     object
 3   Major         35 non-null     object
 4   Gender        35 non-null     object
 5   Test 2 (20%)  32 non-null     object
 6   Test 1 (30%)  33 non-null     float64
dtypes: float64(1), int64(1), object(5)
memory usage: 2.0+ KB
None
        Unnamed: 0            Name Student No Major Gender Test 2 (20%)  \
count    35.000000              35         35    35     35           32
unique         NaN              35         35     4      3           27
top            NaN  Braiden Henson  A3028967J    LS      M      '14.36'
freq           NaN               1          1    14     16            3
mean     17.000000             NaN        NaN   NaN    NaN          NaN
std      10.246951             NaN        NaN   NaN    NaN          NaN
min       0.000000             NaN        NaN   NaN    NaN          NaN
25%       8.500000             NaN        NaN   NaN    NaN          NaN
50%      17.000000             NaN        NaN   NaN    NaN          NaN
75%      25.500000             NaN        NaN   NaN    NaN          NaN
max      34.000000             NaN        NaN   NaN    NaN          NaN

        Test 1 (30%)
count      33.000000
unique           NaN
top              NaN
freq             NaN
mean       18.534455
std         3.487934
min        12.246000
25%        15.918000
50%        18.366000
75%        20.817000
max        26.328000

### 2.4 Summaries (II)

In [16]:
import pandas as pd

data = pd.read_excel("dummy-class-1-of-2.xlsx", skiprows = 1)

print(data["Test 1 (30%)"].std())
print(data["Test 1 (30%)"].unique())
print(data["Test 1 (30%)"].values)

3.4879339343917937
[20.205 13.47  18.366 15.306 12.246 16.53  18.981 17.754 19.593 26.328
 14.082 22.041    nan 20.817 22.653 12.858 23.877 15.918 23.265]
[20.205 13.47  18.366 18.366 15.306 12.246 16.53  18.981 15.306 17.754
 19.593 26.328 14.082 22.041    nan 20.817 22.653 19.593 18.981 15.306
 12.858 23.877 15.918 22.041 19.593 12.858 23.265 20.817    nan 18.366
 18.366 22.653 16.53  17.754 20.817]

## 3 Housekeeping

### 3.1 Dropping unnecessary columns

In [ ]:

# Your code here

### 3.2 Reorganising columns

In [ ]:

# Your code here

### 3.3 Renaming columns

In [ ]:

# Your code here

### 3.4 Setting the index

In [ ]:

# Your code here

### 3.5 Applying changes

In [ ]:

# Your code here

### 3.6 Changing Column Type

In [ ]:

# Your code here

### 3.7 Adding a new column

In [ ]:

# Your code here

### 3.8 Saving to file

In [ ]:

# Your code here

### 3.9 The recipe so far

In [ ]:

# Your code here

## 4 Asking questions

### 4.1 Locating data

In [ ]:

# Your code here

### 4.2 Asking questions with masks

In [ ]:

# Your code here

### 4.3 The magic of groupby()

In [ ]:

# Your code here

## Exercise 1 :  Another dummy class

In [ ]:



# Your solution here